<h1>Prospecção de Obras</h1>


<h2><%= link_to 'Inserir Captações', constructions_new_path %></h2>


<h2><%= link_to 'Filtrar por Detalhe', detail_constructions_path %></h2>

<h2><%= link_to 'Filtrar por Empresa', responsable_constructions_path %></h2>

