<h1>All Responsables</h1>

<ul>
  <% @responsables.each do |responsable| %>
  <li> <%= link_to responsable.company, responsable_path(responsable) %> - <%= responsable.name %> - <%= responsable.phone %></li>
  <% end %>
</ul>
