<h1>All Contructions</h1>

<p><%= link_to 'Nova Obra', constructions_new_path %></p>

<ul>
  <% @constructions.each do |construction| %>
  <li><%= link_to construction.street, construction_path(construction) %> - <%= construction.responsable.name %> - <%= construction.responsable.company %></li>
  <% end %>
</ul>
